---
import Icon from "@ui/atoms/Icon/Icon.astro";
---

<div class="flex flex-col gap-6">
  <a>
    <Icon type="github" />
  </a>

  <a>
    <Icon type="linkedin" />
  </a>

  <a>
    <Icon type="twitter" />
  </a>
</div>
