---
import BaseLayout from "@ui/layouts/BaseLayout/BaseLayout.astro";

import ArticlePreview from "@ui/molecules/ArticlePreview/ArticlePreview.astro";
---

<BaseLayout pageTitle="Blog" selectedNavLink="BLOG">
  <div class="flex flex-wrap justify-center gap-32 py-11 2xl:px-16">
    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />

    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />

    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />

    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />

    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />

    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />

    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />

    <ArticlePreview
      backgroundSrc="/images/articles/teste.png"
      minutesToRead={5}
      summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      title="1 branch X merges"
    />
  </div>
</BaseLayout>
