---
import BaseLayout from "@ui/layouts/BaseLayout/BaseLayout.astro";

import ArticleCard from "@ui/molecules/ArticleCard/ArticleCard.astro";

import type Props from "./articlesPreviewTemplate.interface";

const { articles } = Astro.props;
---

<BaseLayout
  pageTitle="Blog"
  selectedNavLink="BLOG"
  meta={{
    description:
      "Some posts about tips, comments, opinions, tutorials, and more... Anything that I find interesting to share.",
  }}
>
  <div
    class="flex flex-wrap justify-center gap-14 py-11 xs:gap-16 md:gap-28 2xl:px-16 [&>*]:w-full xl:[&>*]:w-3/5"
  >
    {
      articles.map((article) => (
        <ArticleCard activeShowMoreButton={true} {...article} />
      ))
    }
  </div>
</BaseLayout>
