---
import BaseCard from "../BaseCard/BaseCard.astro";
import type InternalProps from "./articleCard.interface";

type Props = InternalProps;

const { summary, title } = Astro.props;
---

<BaseCard>
  <div class="flex flex-col gap-4 text-white-50">
    <h3 class="text-2xl font-bold">{title}</h3>

    <p class="truncate text-xs font-medium">{summary}</p>
  </div>
</BaseCard>
