---
import Button from "@ui/atoms/Button/Button";

import FeedbackCard from "@ui/molecules/FeedbackCard/FeedbackCard.astro";

import type InternalProps from "./feedbacksSection.interface";

type Props = InternalProps;

const { feedbacks } = Astro.props;
---

<section class="flex flex-col gap-8">
  <div class="flex justify-between">
    <h2 class="text-3xl font-bold text-white-500">Latest Feedbacks</h2>

    <Button
      as="a"
      class="text-sm"
      withIcon={{ type: "heart" }}
      linkProps={{ href: "/feedbacks" }}
    >
      Show more
    </Button>
  </div>

  {
    feedbacks.map((feedback) => (
      <FeedbackCard
        name={feedback.name}
        feedback={feedback.feedback}
        photoSrc={feedback.photoSrc}
        socialMediaData={feedback.socialMediaData}
      />
    ))
  }
</section>
