---
---

<article
  class="relative min-h-28 overflow-hidden rounded border-2 border-white-500 px-10 py-5"
>
  <span class="absolute left-0 top-0 h-full w-2 bg-purple-main"></span>

  <slot />
</article>
