---
import BaseLayout from "@ui/layouts/BaseLayout/BaseLayout.astro";

import ArticlesSection from "@ui/organisms/ArticlesSection/ArticlesSection.astro";
import FeedbacksSection from "@ui/organisms/FeedbacksSection/FeedbacksSection.astro";

import type Props from "./homeTemplate.interface";

const { articles, feedbacks } = Astro.props;
---

<BaseLayout selectedNavLink="HOME" pageTitle="Home">
  <div class="flex flex-col gap-16 py-11 xs:gap-10 md:px-11">
    <div class="flex items-center md:justify-center">
      <div class="flex flex-col gap-4">
        <p class="text-lg text-purple-main xs:text-xl">Hi, my name is</p>

        <h1 class="text-xl font-black text-white-500 xs:text-3xl">
          Robert Damaceno Santos.<br />Building some things as a developer
        </h1>

        <h2 class="text-sm font-bold text-white-500 md:text-base">
          I’m fullstack software engineer, set in great challenges since<br />my
          first day of work
        </h2>
      </div>
    </div>

    <div class="flex flex-col justify-between gap-16 xl:flex-row [&>*]:flex-1">
      <ArticlesSection articles={articles} />

      <FeedbacksSection feedbacks={feedbacks} />
    </div>
  </div>
</BaseLayout>
