---
import "@css/base.css";

import Icon from "@ui/atoms/Icon/Icon";

import SocialMedia from "@ui/molecules/SocialMedia/SocialMedia.astro";

import Navbar from "@ui/organisms/Navbar/Navbar.astro";

import Vector from "../../../../public/svgs/vector.svg";
import type InternalProps from "./baseLayout.interface";

type Props = InternalProps;

const { pageTitle, selectedNavLink, hideOverflow } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>R - {pageTitle}</title>
  </head>

  <body class={`${hideOverflow ? "overflow-hidden" : ""} px-16 pt-10 pb-5`}>
    <div class="relative flex justify-end">
      <Navbar selectedLink={selectedNavLink} />

      <div
        class="pointer-events-none absolute left-0 top-0 flex flex-col gap-6"
      >
        <a href="/" class="pointer-events-auto">
          <Icon type="blogIcon" class="h-16 w-16 xl:hidden" />
        </a>

        <Vector class="hidden xl:block" />

        <div class="pointer-events-auto hidden w-min xl:block">
          <SocialMedia />
        </div>
      </div>
    </div>

    <main class="p-9 pb-0">
      <slot />
    </main>

    <div class="flex justify-center xl:hidden">
      <SocialMedia orientation="HORIZONTAL" />
    </div>
  </body>
</html>
