---
import "@css/base.css";

import Navbar from "@ui/molecules/Navbar/Navbar.astro";
import SocialMedia from "@ui/molecules/SocialMedia/SocialMedia.astro";

import type InternalProps from "./baseLayout.interface";

import vector from "/svgs/vector.svg";

type Props = InternalProps;

const { pageTitle, selectedNavLink, hideOverflow } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>R - {pageTitle}</title>
  </head>

  <body class={`${hideOverflow ? "overflow-hidden" : ""} px-16 py-10`}>
    <div class="relative flex justify-end">
      <Navbar selectedLink={selectedNavLink} />

      <div class="absolute left-0 top-0 flex flex-col gap-6">
        <img src={vector} />

        <SocialMedia />
      </div>
    </div>

    <main class="p-9">
      <slot />
    </main>
  </body>
</html>
